body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#principal{
  height: 1000px;
  display:flex;
  flex-direction:row;
}

.leaflet-container {
    display: flex;
    flex: 1 1 60%;
    height: 100%;
    width: 100%;
    /* position: absolute; */
}

#country_info{
  display: flex;
  flex: 1 1 40%;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
}

#initialMeta{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
#initialMeta img{
  width: 60%;
  height: 60%;
  padding-top: 6%;
  padding-left: 2%;
  padding-right: 2%;
}
#tableID{
  display: flex;
  align-items: center;
  padding-left: 6%;
  flex-direction: column;
}
#explainCurrency{
  display:flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%
}
#USDcon{
  /* display: flex; */
  flex: 1 1 50%;
  height: 100%;
  width: 100%;
  /* padding: 2% 2% 2% 2%; */
  align-items: center;

}
#EURcon{
  /* display: flex; */
  flex: 1 1 50%;
  height: 100%;
  width: 100%;
  /* padding: 2% 2% 2% 2%; */
  align-items: center;

}

.valueCurrency{
  font-size: 3em;
  font-style: oblique;
}
