body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#wholeContainer{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#front{
  height: 100%;
  width: 100%;
  /* background-color: #DB7093; */
  display:flex;
  opacity: 100%;
  background-color: #292929;
  font-family: 'Libre Baskerville', serif;
}
#front h1 {
  color: #bbc3c8;
  font-size: 2em;
  line-height: 2em;
  font-weight: 700;
}
#frontContainer{
  display: flex;
  display: column;
  align-items: center;
}
#frontContainer img{
  height: max-content;
  width: max-content;
}

#headerTitle{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: center;

}
#headerTitle h2{
  flex: 1 1 100%;
}
.MuiButtonBase-root{
  position: absolute;
	right: 0%;
}
#bolud{
  position: absolute;
	right: 0%;

}
#principal{
  height: 1000px;
  display:flex;
  flex-direction:row;
}
#tableAndThings{
  padding-left: 10%;
}



.leaflet-container {
    display: flex;
    flex: 1 1 70%;
    height: 100%;
    width: 100%;
}

#country_info{
  display: flex;
  flex: 1 1 30%;
  height: 100%;
  width: 100%;
  flex-direction: column;
  overflow-y: scroll;
  background-image: url("b0.jpg");
  background-size: 100% 100%;
}

#initialMeta{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
#initialMeta img{
  width: 60%;
  height: 60%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #D3D3D3;
}
#tableID{
  display: flex;
  align-items: center;
  padding-left: 6%;
  flex-direction: column;
}
#explainCurrency{
  display:flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%
}
#USDcon{
  /* display: flex; */
  flex: 1 1 50%;
  height: 100%;
  width: 100%;
  /* padding: 2% 2% 2% 2%; */
  align-items: center;

}
#EURcon{
  /* display: flex; */
  flex: 1 1 50%;
  height: 100%;
  width: 100%;
  /* padding: 2% 2% 2% 2%; */
  align-items: center;

}

.valueCurrency{
  font-size: 3em;
  font-style: oblique;
}
